*{padding: 0;
margin: 0;}


body{
background-image:url(imagens/bg-image.png);
background-size: cover;
background-color: #573A37;
line-height: 150%;
height: 1240px;
padding: 24px;
}


#pagina{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;  
    background-color: #F0E8C2;
    border-radius: 16px;
    padding: 24px;
    margin: 48px auto 28px;
    p + p{margin-top: 12px;}
}

section + section{margin-top: 24px;}

#ingredientes{
    
    ul{margin-left: 24px;}
}


img{
border-radius: 16px;

}

h1{ font-size: 40px;   
    line-height: 140%;
}

h2, h3{font-size: 24px;
line-height: 150%;}

h1, h2, h3{    color: #291B1A;
    margin-bottom: 4px;
}

footer{color: #F0E8C2;
text-align: center;
padding-bottom: 48px;}
footer img{vertical-align: middle;}
